.app-header {
    font-family: 'Warrior Quest';
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.app-error {
    text-align: center;
}
