.fileUploadWrapper {
    display: grid;
    grid-gap: 20px;
}

.fileUpload {
    display: grid;
    max-width: 500px;
    min-height: 150px;
    grid-gap: 30px;
    align-items: center;
    border: 1px dashed lightblue;
    background-color: #333;
    cursor: pointer;
}

.fileUpload .inner {
    height: 100%;
    cursor: pointer;
    font-style: italic;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 10px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    overflow-wrap: anywhere;
}

.fileUpload img {
    width: 50px;
    height: 50px;
}

.fileUpload label {
    height: 100%;
}
